*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto',sans-serif;
}

body{
    background:#0b0b0b;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{

    width:400px;

    background:#171717;

    padding:40px;

    border-radius:12px;

    border:1px solid #1d1bbc;

    box-shadow:
            0 0 25px rgba(29,27,188,.18);

}

h1{

    color:white;

    text-align:center;

    margin-bottom:35px;

    font-size:32px;

    font-weight:500;

}

input{

    width:100%;

    padding:15px;

    margin-bottom:18px;

    background:#222;

    border:1px solid #333;

    color:white;

    border-radius:8px;

    outline:none;

    font-size:15px;

}

input::placeholder{

    color:#888;

}

input:focus{

    border-color:#1d1bbc;

    box-shadow:0 0 10px rgba(29,27,188,.4);

}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:8px;

    background:#1d1bbc;

    color:white;

    font-size:16px;

    cursor:pointer;

    font-weight:500;

    transition:.2s;

}

button:hover{

    background:#2a28d8;

}

p{

    text-align:center;

    margin-top:20px;

}

a{

    color:#8b8af5;

    text-decoration:none;

}

a:hover{

    color:white;

}

/* Labels do cadastro */

.login-box label{

    display:block;

    color:#ddd;

    margin-top:15px;

    margin-bottom:6px;

    font-size:14px;

}


/* Botão voltar */

.voltar{

    margin-top:15px;

    background:#242424;

    color:white;

}


.voltar:hover{

    background:#3a3a3a;

}
